body{
    background:url("doge.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
/*    margin:0px !important;
    padding:0px !important;*/
}

.dogeText {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 5vw;
    position: fixed;
    margin:0px !important;
}